# KyroDB ANN-Benchmarks Configuration
#
# This file is meant to be copied into the upstream ann-benchmarks repository at:
#   ann_benchmarks/algorithms/kyrodb/config.yml
#
# Notes:
# - `base_args: ['@metric']` passes the dataset metric (angular/euclidean) into the constructor.
# - `args` are passed to the KyroDB constructor as a dict (HNSW build params).
# - `query_args` values are passed to `set_query_arguments(*query_args)` and map to ef_search.

float:
  any:
    - name: kyrodb
      docker_tag: ann-benchmarks-kyrodb
      module: ann_benchmarks.algorithms.kyrodb
      constructor: KyroDB
      disabled: false
      base_args: ['@metric']
      run_groups:
        ann_fast:
          args:
            M: 16
            ef_construction: 200
          query_args: [[16], [32], [64], [128]]

        ann_balanced:
          args:
            M: 24
            ef_construction: 400
          query_args: [[64], [128], [256], [384]]

        ann_high_recall:
          args:
            M: 32
            ef_construction: 600
          query_args: [[128], [256], [512], [768], [1024]]

        ann_sq8_frontier:
          args:
            M: 40
            ef_construction: 800
            ann_search_mode: sq8-rerank
            quantized_rerank_multiplier: 8
          query_args: [[128], [256], [512], [768], [1024], [1536]]
